# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual env
.venv/
venv/
ENV/
env/

# Distribution / packaging
build/
dist/
*.egg-info/

# Editor files
.vscode/
.idea/

# Pyenv
.python-version

# macOS
.DS_Store
