apiVersion: apps/v1
kind: Deployment
metadata:
  name: notification-service
  namespace: lastmile
spec:
  replicas: 1
  selector:
    matchLabels:
      app: notification-service
  template:
    metadata:
      labels:
        app: notification-service
    spec:
      containers:
      - name: notification-service
        image: saniyaismail999/lastmile-notification:1.0
        env:
        - name: RABBITMQ_URL
          value: "amqp://guest:guest@rabbitmq:5672/"
        ports:
        - containerPort: 50056
---
apiVersion: v1
kind: Service
metadata:
  name: notification-service
  namespace: lastmile
spec:
  selector:
    app: notification-service
  ports:
  - port: 50056
    targetPort: 50056
