apiVersion: apps/v1
kind: Deployment
metadata:
  name: user-service
  namespace: lastmile
spec:
  replicas: 1
  selector:
    matchLabels:
      app: user-service
  template:
    metadata:
      labels:
        app: user-service
    spec:
      containers:
      - name: user-service
        image: saniyaismail999/lastmile-user:1.0
        env:
        - name: DATABASE_URL
          value: "postgresql://lastmile:lastmile@postgres:5432/lastmile"
        ports:
        - containerPort: 50058
---
apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: lastmile
spec:
  selector:
    app: user-service
  ports:
  - port: 50058
    targetPort: 50058
