apiVersion: apps/v1
kind: Deployment
metadata:
  name: trip-service
  namespace: lastmile
spec:
  replicas: 1
  selector:
    matchLabels:
      app: trip-service
  template:
    metadata:
      labels:
        app: trip-service
    spec:
      containers:
      - name: trip-service
        image: saniyaismail999/lastmile-trip:1.0
        env:
        - name: DATABASE_URL
          value: "postgresql://lastmile:lastmile@postgres:5432/lastmile"
        - name: RABBITMQ_URL
          value: "amqp://guest:guest@rabbitmq:5672/"
        ports:
        - containerPort: 50055
---
apiVersion: v1
kind: Service
metadata:
  name: trip-service
  namespace: lastmile
spec:
  selector:
    app: trip-service
  ports:
  - port: 50055
    targetPort: 50055
