apiVersion: v1
kind: Namespace
metadata:
  name: lastmile
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: rider-service
  namespace: lastmile
  labels:
    app: rider-service
spec:
  replicas: 1
  selector:
    matchLabels:
      app: rider-service
  template:
    metadata:
      labels:
        app: rider-service
    spec:
      containers:
      - name: rider-service
        image: lastmile/rider_service:local
        imagePullPolicy: IfNotPresent
        env:
        - name: PORT
          value: "50052"
        ports:
        - containerPort: 50052
        readinessProbe:
          tcpSocket:
            port: 50052
          initialDelaySeconds: 5
          periodSeconds: 10
        livenessProbe:
          tcpSocket:
            port: 50052
          initialDelaySeconds: 20
          periodSeconds: 20
---
apiVersion: v1
kind: Service
metadata:
  name: rider-service
  namespace: lastmile
spec:
  selector:
    app: rider-service
  ports:
  - port: 50052
    targetPort: 50052
