apiVersion: v1
kind: Service
metadata:
  name: user-service
  namespace: lastmile
  labels:
    app: user-service
spec:
  type: ClusterIP
  selector:
    app: user-service
  ports:
    - protocol: TCP
      port: 8001
      targetPort: 8001
