apiVersion: v1
kind: Service
metadata:
  name: matching-service
  namespace: lastmile
  labels:
    app: matching-service
spec:
  type: ClusterIP
  selector:
    app: matching-service
  ports:
    - protocol: TCP
      port: 8004
      targetPort: 8004
