apiVersion: v1
kind: Service
metadata:
  name: gateway
  namespace: lastmile
  labels:
    app: gateway
spec:
  type: ClusterIP
  selector:
    app: gateway
  ports:
    - protocol: TCP
      port: 8000
      targetPort: 8000
